.env
.claude
docs
checkpoints/
.gitignore
data/.DS_Store
utils/.ipynb_checkpoints/prolific-checkpoint.py
utils/.ipynb_checkpoints/qualtrics-checkpoint.py
utils/__pycache__/qualtrics.cpython-312.pyc
utils/__pycache__/llms.cpython-312.pyc
utils/__pycache__/inference.cpython-312.pyc
utils/__pycache__/prolific.cpython-312.pyc
utils/.DS_Store
.ipynb_checkpoints/tutorial-checkpoint.ipynb
venv/share/jupyter/nbextensions/jupyter-js-widgets/extension.js.LICENSE.txt
/venv
utils/.ipynb_checkpoints/inference-checkpoint.py
utils/__pycache__/mturk.cpython-312.pyc
utils/.ipynb_checkpoints/mturk-checkpoint.py
.DS_Store
.ipynb_checkpoints/tutorial_non-adaptive_pre-collected-checkpoint.ipynb
.ipynb_checkpoints/tutorial_part_2-checkpoint.ipynb
.ipynb_checkpoints/tutorial_version_1_adaptive_with_pre-collected_labels-checkpoint.ipynb
.ipynb_checkpoints/tutorial_version_2_adaptive_collecting_labels-checkpoint.ipynb
.ipynb_checkpoints/tutorial_version_3_adaptive_collecting_labels_simplified-checkpoint.ipynb
.ipynb_checkpoints/tutorial_version_4_non-adaptive_pre-collected_labels-checkpoint.ipynb
utils/.ipynb_checkpoints/llms-checkpoint.py
utils/.ipynb_checkpoints/inference-checkpoint.py
utils/.ipynb_checkpoints/inference-checkpoint.py
utils/.ipynb_checkpoints/inference-checkpoint.py
utils/.ipynb_checkpoints/inference-checkpoint.py
utils/.ipynb_checkpoints/inference-checkpoint.py
utils/.ipynb_checkpoints/inference-checkpoint.py
.ipynb_checkpoints/tutorial_version_2_high-level_collecting_labels-checkpoint.ipynb
.ipynb_checkpoints/tutorial_version_5_non-adaptive-checkpoint.ipynb
.ipynb_checkpoints/tutorial_version_4_low-level_collecting_labels-checkpoint.ipynb
.ipynb_checkpoints/tutorial_version_3_low-level_pre-collected_labels-checkpoint.ipynb
.ipynb_checkpoints/tutorial_version_1new_adaptive_pre-collected_labels-checkpoint.ipynb
.ipynb_checkpoints/tutorial_version_1_high-level_pre-collected_labels-checkpoint.ipynb
.DS_Store
credentials.txt
.ipynb_checkpoints/credentials-checkpoint.txt
